<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.cqjtu.weatherforecast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeatherActivity" />
        <activity android:name=".ToolActivity" />
        <activity android:name=".ChooseToolActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <activity android:name=".RobotActivity" />

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest> <!-- 使得系统初始化制定的该Application类来获得上下文等资源 -->
